body{
    background: #E6E7E9 !important;
}

#content{
    background-color: #E6E7E9 !important;
}

.sidebar{
    background: #999999 !important;
}

.topbar{
    background-color: #E6E7E9 !important;
    box-shadow: none !important;
}

.sidebar-brand{
    background: linear-gradient(90deg, #B71222 0%, #540C10 100%) !important;
    padding: 0px !important;
}

.nav-item-sidebar .nav-link,i,span{
    color: black !important;
}

.nav-item-sidebar, .sidebar-heading{
    background: #999999 !important;
}

.btn-search{
    padding: 4px;
    background: white;
}

.menu-sidebar-dropdown{
    background-color: #999999 !important;
}

.menu-sidebar-dropdown .collapse-item:hover{
    background-color: #999999 !important;
}


.menu-sidebar-dropdown a{
    color: black !important;
}

.nav-link a:after{
    color: black !important;
}

.row-footer{
    color: black;
    margin-top: 110%;
}

.row-footer h6{
    font-weight: bold !important;
    margin-bottom: 0px;
}

.sidebar-footer{
    background-color: #222D33;
    padding: 12px;
}

.sidebar-footer p{
    font-size: 12px;
    margin: 0px !important;
}

.form-data-pendukung .row .input-container{
    border-left: 2px solid #6D6E72;
}

.container-label{
    padding-left: 20%;
}

.form-data-pendukung p{
    color: #6D6E72 !important;
}

.btn-submit-datap{
    margin-top: 24px;
    border-radius: 20px;
    width: 100px;
}

.keterangan-input{
    margin-bottom: 0px;
    margin-left: 4px !important;
}

.container-data-pendukung{
    border-top: 2px solid #6D6E72;
    border-bottom: 2px solid #6D6E72;

    padding-top: 20px;
    padding-bottom: 30px;
}

.table-rincian p{
    font-size: 10px;
}

.kolom-aksi-rab .row .btn{
    width: 30%;
    padding: 2px;
    height: 25px;
    margin-bottom: 2.5%;
}

.table-rincian th,td{
    /*use this property to disbale soft wrap*/
    white-space: nowrap;
    /*To make extra certain,add this css property*/
    word-break: keep-all;
    padding-left: 4px !important;
    padding-right: 4px !important;

}
